<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Print.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Auto_Print.Properties.Settings>
            <setting name="apNames" serializeAs="String">
                <value>Port,Ach</value>
            </setting>
            <setting name="apDescription" serializeAs="String">
                <value>Child Portrait,Child Achievement</value>
            </setting>
            <setting name="apPreferPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="apHost" serializeAs="String">
                <value>access802899325.webspace-data.io</value>
            </setting>
            <setting name="apUsername" serializeAs="String">
                <value>u98941559</value>
            </setting>
            <setting name="apPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="apPassword" serializeAs="String">
                <value>Jadzia1984!</value>
            </setting>
            <setting name="apSaveLocal" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="apRFChild" serializeAs="String">
                <value>/X22/uzmQIAHBSH6kusMp9tNpbSvEn5IGJKaB5ESX3WUWmPeMVNRnBFxudnt4ubtaAfbJ</value>
            </setting>
            <setting name="apRFAdult" serializeAs="String">
                <value>/X22/hQDo6TUAuImqWENYQjdjMHhdKeiFYqsvMKhMPNBgM7oXUCNkXB4rtBH7i3tYubYh</value>
            </setting>
            <setting name="apRFFamily" serializeAs="String">
                <value>/X22/3hbQnlLEQA870bKszQg8dIWQ5cLzZm2wOCJj5zym0eFKZwgBn2T0ZS9i03fit53q</value>
            </setting>
            <setting name="apRF" serializeAs="String">
                <value>/X22/GatherBooking</value>
            </setting>
            <setting name="apWait" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="apPhotoSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="apPaperSize" serializeAs="String">
                <value />
            </setting>
        </Auto_Print.Properties.Settings>
    </userSettings>
</configuration>